<h1>Customer</h1>

<p>Yes, there is no security on this whatsoever. Simulate what a customer would see after logging in</p>
<div *ngIf="!emails">Loading...</div>
<div *ngIf="emails">
  <div>Try one of
    <ul>
      <li *ngFor="let email of emails">
        {{email}}
      </li>
    </ul>
  </div>

  <input [formControl]="email" placeholder="Email address" size="50">
  <div *ngIf="email.value">
    <div id="selectAProduct">User {{email.value}}, select a product to review:</div>
    <div id="productViewModel" *ngIf="productsViewModel">
      <div id="noProducts" *ngIf="matchingEmail && productsViewModel.length === 0">Uh oh, it looks like you don't have any products!</div>
      <ul *ngIf="productsViewModel.length > 0">
        <li *ngFor="let product of productsViewModel" class="customer-product">
          <cus-review [product]="product" [customerEmail]="email.value"></cus-review>
        </li>
      </ul>
    </div>
  </div>
</div>