<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class="table table-striped" [mfData]="reviews" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder"
    #mf="mfDataTable">
    <thead>
        <tr>
            <th style="width: 20%">
                <mfDefaultSorter by="customer">Customer</mfDefaultSorter>
            </th>
            <th style="width: 50%">
                <mfDefaultSorter by="datetime">Date</mfDefaultSorter>
            </th>
            <th style="width: 10%">
                <mfDefaultSorter by="stars">Rating</mfDefaultSorter>
            </th>
            <th style="width: 20%">
                <mfDefaultSorter by="comments">Summary</mfDefaultSorter>
            </th>
            <th style="width: 20%">
                <mfDefaultSorter by="state">State</mfDefaultSorter>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of mf.data">
            <td>{{item.dateFormatted}}</td>
            <td>{{item.temperatureC}}</td>
            <td class="text-right">{{item.temperatureF}}</td>
            <td>{{item.summary | uppercase}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[2,3,4]"></mfBootstrapPaginator>
            </td>
        </tr>
    </tfoot>
</table>