<h1>Review Management</h1>

<p *ngIf="!reviews"><em>Loading...</em></p>

<table class="table table-striped" *ngIf="reviews" #mf="mfDataTable" [mfData]="reviews" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy"
    [(mfSortOrder)]="sortOrder">
    <thead>
        <tr>
            <th style="width: 20%">
                <mfDefaultSorter by="customer">Customer</mfDefaultSorter>
            </th>
            <th style="width: 50%">
                <mfDefaultSorter by="datetime">Date</mfDefaultSorter>
            </th>
            <th style="width: 10%">
                <mfDefaultSorter by="stars">Rating</mfDefaultSorter>
            </th>
            <th style="width: 20%">
                <mfDefaultSorter by="comments">Summary</mfDefaultSorter>
            </th>
            <th style="width: 20%">
                <mfDefaultSorter by="state">State</mfDefaultSorter>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of mf.data">
            <td>{{item.customer}}</td>
            <td>{{item.datetime}}</td>
            <td class="text-right">{{item.stars}}</td>
            <td>{{item.comments | uppercase}}</td>
            <td>{{item.state}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[2,3,4]"></mfBootstrapPaginator>
            </td>
        </tr>
    </tfoot>
</table>